@import './GoogleFont.css';

.adminColumn {

	background-color: #5F7F39;
	height: relative;

}

.admin_gauge {
	justify-content: space-around;
	margin-top: 6rem;
	margin-left: 3rem;
	margin-right: 3rem;

}

.admin_gauge_box {
	justify-content: center;
	background-color: #5F7F39;
	height: 10rem;
	width: 10rem;
}

.gauge_number {
	color: white;
	font-family: Roboto Condensed;
	font-size: 3.2rem;
	font-weight: bold;
	margin-left: 50px;
}
.gauge_number_sub {
	display: inline-flex;
	background-color: #8FA253;
	color: white;
	font-family: Roboto Condensed;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	margin-right: 40px;
}

.User_list_header {
	font-family: Roboto Condensed;
	font-weight: bold;
	margin-left: auto;
	margin-right: 50px;
}

.Prod_inventory_header {
	font-family: Roboto Condensed;
	font-weight: bold;

}
.Prod_header {
	color: #34312d;
	font-size: 1.8rem;
	font-weight: bold;
	/*width: 10%;*/

}

.addProduct_btn {
	background-color: #8FA253;
	border-radius: 0;
	color: #FFFFFF;
	margin-top: 30px;
	width: 100px;
}



