@import './GoogleFont.css';

.navbar{
	background-color: #FFFFFF !important;
}
.navbar-brand{
	color: #8FA253 !important;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 1.5rem;	
	transition: 0.3s;
}
.navbar-brand__country{
	font-size:0.9rem;
}
.navbar-link{
	color:#8FA253 !important;
	font-weight: bold;
	font-size: 0.9rem;
	transition: 0.3s;
}
.navbar-link:hover, .navbar-brand:hover{
	color: #5F7F39 !important;
	background-color: none !important; 
}	
.form{
	display: inline-flex;
	width: 40%;
}
.form-control, .form-button__search{
	border-radius: 0;
}
.form-button__search{
	background-color: #8FA253 !important;
	border: 1px solid #8FA253;
	color: #FFFFFF;
	transition: 0.3s;
}
.form-button__search:hover{
	background-color: #5F7F39 !important;
	border: 1px solid #5F7F39;
}
.badge-icon{
	font-size:0.8rem;
	margin-left: 0.5rem;
	background-color: #E5383B !important;
	color: #FFFFFF;
}
