@import './GoogleFont.css';

.banner-section{
	height: 70vh;
	overflow: hidden;
}
.banner-box__imageBox{
	display: flex;
	justify-content: center;
}
.banner-image{
	min-width:1000px;
	max-width: 1000px;
}
.banner-header{
	background-color: #FEFAE0;
	position: absolute;
		top: 50%;
		left: 0;
	width: 30%;
	padding:2rem;
}
.banner-header__title{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 2rem;
}
.banner-button__register{
	border-radius: 0;	
	font-family: 'Roboto Condensed', sans-serif;
	background-color:#8FA253;
	border: 1px solid #8FA253;
}
