@import './GoogleFont.css';

.manage-pesonal__header{
	color: #424242;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5rem;		
	font-weight: bold;
	margin-bottom: 0;
}
.manage-pesonal__sub-header{
	border-bottom: 1px solid #c4c4c4;
	padding: 0.5rem 0;
	margin: 0.5rem 0;
}
.manage-account__box{
	background-color: #FFFFFF;
	border: 1px solid #c4c4c4;
	margin: 1rem auto;
	padding: 2rem;
	max-width: 600px;
}
.address-box{
	display: flex;
	gap: 10px;
}
.personal-title{
	font-size: 0.9rem;
	min-width: 90px ;
	margin-bottom: 0;
	color: #424242;
}
.personal__info{
	font-size: 0.9rem;
	margin-bottom: 0;
}
.manage-account__box-header{
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.manage-personal__form-update{
	max-width: 600px;
	margin: 2rem auto;
    transition: all 0.3s ease-out;
    border:1px solid #c4c4c4;
    padding:2rem;
}
.security-changePass{
	margin: 1rem auto;
	font-size: 0.9rem;
	border-radius: 0;
	display: block;
}
.security-card{
	border:1px solid #c4c4c4;
	padding: 1rem;
	margin: 0.8rem 0;
}
.icon-info{
	color: #023e8a;
}
.changePass-month{
	text-decoration: underline;
	color: #424242;
}